body{
  background-image: url(2612371.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e6f8f9;
}
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

.daftarlogin{
	float: right;
	margin-top: 40px;
	padding-right: 10px;
}

.login{
	display: inline-block;
  right: 20px;
/*  position: absolute;*/
  border: 2px solid;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #b1e8ed;
}
.Daftar{
	display: inline-block;
/*  right: -100px;
  position: absolute;*/
  border: 2px solid;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #b1e8ed;
}

.menu{
	display: inline-block;
  	width: auto;
  	float: right;
  	margin-top: 30px;
}
.menu ul{
  display: inline-flex;
/*  margin: 40px;*/
  list-style: none;
  text-align: justify;
/*  position: absolute;*/
/*  right: 250px;
  top: 20px;*/
}
.menu ul li{
  margin: 10px 50px 10px 10px;
  color: black;
  cursor: pointer;
}
.menunormal{
  padding: 10px 10px;
}
.aktif{
  font-weight: bold;
  text-decoration: underline;
  padding: 10px 10px;
}

/*.judul{
  font-size: 30px;
  padding-right: 350px;
  padding-left: 10px;
/*  top: 120px;*/
/*  position: absolute;*/
}*/

.footer{
	display: inline-block;
	margin-right: 20px;
}

.footer h1{
	display: inline-block;
  	font-size: 20px;
  	float: right;
  	margin-right: 10px;
}
.footer img{
	margin-right: 10px; 
  	width: 30px;
  	display: inline-block;
  	float: right;
  	margin-right: 10px;
}

.judulweb{
	padding: 10px;
	padding-left: 40px;
	display: inline-block;
}

.judulweb img{
	width: 100px;
	height: 100px;
}

.judulweb h1{
	font-size: 20px;
}

/*.logo{
  width: 100px;
  list-style: none;
  top: 12px;
  left: 35px;
/*  position: absolute;*/
} */
.content{
    height: 700px;
    width: auto;
    color: #000000;
    padding: 20px 20px 20px 80px;
    box-sizing: border-box;
}


input[type=button]:hover{
    color: #42A5F5;
    cursor: pointer;
    font-weight: bold;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content{
    height: 600px;
    width: auto;
    color: #000000;
    padding: 20px 20px 20px 200px;
    box-sizing: border-box;
}

.foto{
	display: inline-block;
	margin-top: 0px;
	float: left;
}

.foto input[type=button]{
    width: auto;
    color: white;
    background-color: #42A5F5;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
/*    position: absolute;
    left: 50px;*/
}

.foto img{
	display: inline-block;
    height: 150px;
    width: 150px;
    border: 3px;
    border-radius: 50%;
}
/*.foto h1{
   margin-top: 200px;
   padding-left: 40px;
 }
*/
.profil{
	display: inline-block;
	float: left;
    margin: 10%;
    margin-top: 0px;
    width: 700px;
    height: auto;
    background-color: #F0F8FF;
    border-radius: 10px;
    color: #000000;
    padding: 30px 30px 30px 50px;
    box-sizing: border-box;
}
.hide {
    position: absolute;
    overflow: hidden;
    z-index: -1;
    width: 0.1;
    height: 0.1;
    opacity: 0;
}

label {
    float: left;
    height: 15.5px;
    margin: 10px 0px 0px 0px;
    width: auto;
    color: white;
    background-color: #42A5F5;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

label:hover{
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: #42A5F5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
