body{
  background-repeat: repeat;
  background-size: cover;
  background-color: #c6cbef;
}
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.kotakatas{
  width: 100%;
  height: 130px;
  background-color:#494ca2;
  box-shadow: 4px 0px 20px;
}
.text{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #494ca2;
  margin-left: 80px;
  margin-top: 150px;
}
.text h1{
  margin-bottom: 20px;
  font-size: 40pt;
}
.text h3{
  font-size: 15pt;
}

.textBankSoal{
  text-align: left;
  font-size: 50px;
  position: absolute;
  top:150px;
  width: 100%;
  left: 260px;
}

.menu{
  width: 100%;
}
.menu ul{
  display: inline-flex;
  margin-top: 25px;
  float: left;
  margin-left: 50%;
  list-style: none;
  position: absolute;
}
.menu ul li{
  margin: 10px 50px 10px 10px;
  color: white;
  cursor: pointer;
}
.menu ul li.active a,
.menu ul li a:hover {
    text-decoration: none;
    color: rgb(0, 195, 255);
}
.daftarsekarang {
  position: absolute;
  border-radius: 90px;
  padding: 13px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  background-color: #b1e8ed;
  margin-left: 80px;
  margin-top: 20px;
}
.daftarsekarang h2{
  position: center;
  color: #494ca2;
}
.daftarsekarang a{
  text-decoration: none;
}
.daftarlogin{
position: absolute;
right: 150px;
top:60px;
}
.daftarlogin a{
  text-decoration: none;
}
.menunormal{
  padding: 10px 10px;
}
.menunormal a{
  text-decoration: none;
  color: white;
}
.aktif{
  font-weight: bold;
  text-decoration: underline;
  padding: 10px 10px;
}
.login{
  right: 20px;
  position: absolute;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 13pt;
  background-color: #c6cbef;
  font-weight: 600;
}
.Daftar{
  right: -100px;
  position: absolute;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 13pt;
  background-color: #c6cbef;
  font-weight: 600;
}
.judul{
  font-size: 30px;
  left: 150px;
  top: 45px;
  position: absolute;
  color: white;
}
.ig{
  list-style: none;
  font-size: 20px;
  bottom: 10px;
  right: 20px;
  position: absolute;
}
.iggmbr{
  width: 30px;
  list-style: none;
  bottom: 10px;
  right: 145px;
  position: absolute;
}
.logo{
  width: 100px;
  list-style: none;
  top: 12px;
  left: 35px;
  position: absolute;
} 
.form{
      margin: auto;
      width: 350px;
      height: 350px;
      padding: 20px;
      text-align: center;
      top: 250px;
      right: 260px;
      position: absolute;
      font-size: 30px;
}
.input{
  width: 200px;
  height: 40px;
}
.button{
  width: 200px;
  height: 50px;
}
.body-login {
    margin: 0;
    padding: 0;
    background-size: cover;
    /*background-position: center;*/
    font-family: "Source Sans Pro";
}
.loginbox {
    background: #FFFFFF;
    color: #000000;
    top: auto;
    left: auto;
    right: auto;
    z-index: -1;
    position: absolute;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 20px;
}
.loginbox h1 {
    margin-bottom: 29px;
    padding: 0px;
    font-family: "Source Sans Pro";
    font-size: 30px;
    text-align: center;
    color: #000000;
}
.loginbox p {
    font-family: "Source Sans Pro";
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #000000;
}
.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"] {
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    outline: none; 
    height: 40px;
    color: #000;
    font-size: 16px;
}

.loginbox input[type="password"] {
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000000;
    font-size: 16px;
}
.loginbox input[type="button"] {
    border: none;
    outline: none;
    height: 40px;
    background: #494ca2;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 20px;
    position: relative;
    margin-top: 35 px;
}
.loginbox input[type="button"]:hover {
    cursor: pointer;
    background: #c6cbef;
    color: #FFFFFF;
}
.Daftarbox {
    background: #FFFFFF;
    color: #000000;
    top: auto;
    left: auto;
    z-index: -1;
    position: absolute;
    box-sizing: border-box;
    padding: 10px 30px;
    border-radius: 20px;
}
.Daftarbox h1 {
    margin-bottom: 29px;
    padding: 0px;
    font-family: "Source Sans Pro";
    font-size: 30px;
    text-align: center;
    color: #000000;
}
.Daftarbox p {
    font-family: "Source Sans Pro";
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #000000;
}
.Daftarbox input {
    width: 100%;
    margin-bottom: 20px;
}
.Daftarbox input[type="text"] {
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}
.Daftarbox input[type="number"] {
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}
.Daftarbox input[type="email"] {
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}
.Daftarbox input[type="password"] {
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000000;
    font-size: 16px;
}
.Daftarbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #494ca2;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 20px;
    position: relative;
    margin-top: 25px;
}
.Daftarbox input[type="submit"]:hover {
    cursor: pointer;
    background: #c6cbef;
    color: #FFFFFF;
}

.content{
    height: 700px;
    width: auto;
    color: #000000;
    padding: 20px 20px 20px 80px;
    box-sizing: border-box;
}

.foto input[type=button]{
    width: auto;
    color: white;
    background-color: #42A5F5;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    position: absolute;
    left: 50px;

}

input[type=button]:hover{
    color: #42A5F5;
    cursor: pointer;
    font-weight: bold;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.foto img{
    height: 150px;
    width: 150px;
    border: 3px;
    margin-top: 200px;
    margin-bottom: 50px;
    border-radius: 50%;
    margin-left: 50px;
}
.foto h1{
   margin-top: 20px;
   padding-left: 40px;
 }

.foto input[type="button"]{
  display: inline-block;
 }

.profil{
    float: right;
    margin-right: 10%;
    width: 700px;
    height: auto;
    background-color: #F0F8FF;
    border-radius: 10px;
    color: #000000;
    padding: 30px 30px 30px 50px;
    box-sizing: border-box;

}

.hide {
    position: absolute;
    left: 50px;
    top: 100px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: none;
  margin: auto;
  padding: 20px;
  border: none;
  /*top: 5px;*/
  width: 17%;
  /*z-index: 2;*/
}

.modal-content-register {
  background-color: none;
  margin: auto;
  padding: 20px;
  border: none;
  /*top: 5px;*/
  width: 20%;
  /*z-index: 2;*/
}

/* The Close Button */
.close {
  color: #000;
  /*top: 500px;*/
  margin-top: 10px;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/*label {
    float: left;
    height: 15.5px;
    margin: 10px 0px 0px 0px;
    width: auto;
    color: white;
    background-color: #42A5F5;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

label:hover{
    color: #050766;
    font-weight: bold;
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/
@media screen and (max-width:800px) {

.menu{
  /*border: red 1pt solid;*/
  width: auto;
  margin: 0 auto;
  padding: 0;
}
.menu ul{
  position: relative;
  /*border: white 1pt solid;*/
  width: auto;
  list-style: none;
  text-align: justify;
  right: 0;
  top: 0;
  margin: 0; 
  margin-top: 6%;
  margin-left: 45%;
}
.menu ul li{
  margin: 0 ;
  color: white;
  cursor: pointer;
  font-weight: 700;
}
  .menunormal{
    padding: 10px 10px;
  }
  .menunormal a{
    text-decoration: none;
    color: white;
  }
  .daftarlogin{
    position: absolute;
    float: right;
    right: 1%;
    height: auto;
    display: block;
    top:0;
    width: 3cm;
    /*border: blue 1pt solid;*/
  }
  .daftarlogin a{
    text-decoration: none;
  }

  .login, .Daftar{
    right: 0;
    position: relative;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 13pt;
    background-color: #c6cbef;
    font-weight: 600;
    display: block;
    margin-top: 10pt;
  }

}
