body{
  background-image: url(2612371.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e6f8f9;
}
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.text{
  text-align: center;
  font-size: 50px;
  padding: 50px;
}
.menu{
  width: 100%;
  height: 100%;
}
.menu ul{
  padding: 20px;
  display: inline-flex;
  margin: 20px;
  list-style: none;
  text-align: justify;
}
.menu ul li{
  margin: 10px 50px 10px 10px;
  color: white;
  cursor: pointer;
}
.menunormal{
  padding: 10px 10px;
}
.aktif{
  font-weight: bold;
  text-decoration: underline;
  padding: 10px 10px;
}
.login{
  right: 130px;
  position: absolute;
  border: 2px solid;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #b1e8ed;
}
.ContactUs{
  right: 10px;
  position: absolute;
  border: 2px solid;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #b1e8ed;
}
.judul{
  font-size: 30px;
  padding-right: 350px;
  padding-left: 20px;
}
.ig{
  list-style: none;
  font-size: 20px;
  bottom: 10px;
  right: 20px;
  position: absolute;
}
.iggmbr{
  width: 30px;
  list-style: none;
  bottom: 10px;
  right: 145px;
  position: absolute;
}
.logo{
  width: 100px;
  list-style: none;
  top: 20px;
  left: 10px;
  position: absolute;

}